<div class="container">
     <div class="row">
         <div class="col-6">
            <h3>管理者ログイン</h>
         </div>
     </div>
     <div class="row">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-12">
            <table class="admin_sign_in">
                <tr>
                    <th>メールアドレス</th>
                    <td><%= f.email_field :email,autofocus: true, autocomplete: "email" %></td>
                </tr>
                <tr>
                    <th>パスワード</th>
                    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
                </tr>
            </table>
        </div>
    <div class="submit">
       <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
    <% end %>
    <%#= render "admins/shared/links" %>
</div>